<div class="">
  <div class="">
    <h1>Search engine Box</h1>
  </div>
  <div class="buttons">
    <%= button_to "Login", new_user_session_path, :method => :get, class:"" %>
    <%= button_to "Sign up", new_user_registration_path, :method => :get, class:"" %>
  </div>
</div>